body {
    margin: 0;
    padding: 0;
    background: url('image/back.jpg');
    background-size: cover;
    background-position: 0 -30px;
    height: 660px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.box {
    width: 370px;
    height: 500px;
    padding: 50px;
    margin: 30px auto;
    background-color: #d7baa600;
    box-shadow: 0 35px 50px #0a1516c9 ;
}

.box .top span {
    display: inline-block;
    color: #fff;
   font-size: 20px;
   text-transform: uppercase;

}

.box .top span:last-of-type {
    margin-left: 30px;
    border-bottom: 5px solid #ff8317;
}

.box .middle p {
    color: #fff;
    padding-bottom: 10px;
    margin-top: 75px;
    border-bottom: 2px solid #fff;
}


.box .bottom {
    margin-top: 50px;
}

.bottom span {
    color: #fff;
    font-size: 15px;
    
}

.bottom span:last-of-type {
    display: block;
    width: 40%;
    margin: 10px 15px;
    background-color: #ff8317;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
} 

@media screen and (max-width: 469px) {
    body {
     background-size: cover;
    }
    }
}